---
layout: index
title: Home
permalink: /
---

<div class="container mtb">
    <div class="row">
        <div class="col-lg-8">
            <h3 class="ctitle">Welcome to RHC Derby</h3>
            <p>Ramgarhia Hockey Club Derby was formed in 1983. We are based in Sinfin, Derby. 
                The club currently compete in a regional league playing weekly (East Midlands 1).
                Our club consists of one men’s team and one juniors team.
                We train on Wednesdays at the City of Derby Academy.</p>
            
            <h3>Training</h3>
            
            <div class="media homepage-training">
                <div class="pull-left">
                    <img class="media-object" src="assets/img/training.jpg" alt="Training">
                </div>
                <div class="media-body">
                        <table class="table table-striped table-condensed">
                            <tr>
                                <th></th>
                                <th>Day</th>
                                <th>Training Times</th>
                            </tr>
                            <tr>
                                <td>Juniors</td>
                                <td>Wednesday</td>
                                <td>6:30pm - 7:30pm</td>
                            </tr>
                            <tr>
                                <td>Adults</td>
                                <td>Wednesday</td>
                                <td>6:30pm - 9:00pm</td>
                            </tr>
                        </table>
                </div>
            </div>
            
        </div>

        <div class="col-lg-4">
            <div class="spacing hidden-lg"></div>
            <h4>Upcoming Events</h4>
            <div class="hline"></div>
                {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
                
                {% for event in site.categories['event'] %}

                {% capture eventTime %}{{event.eventDate | date: '%s'}}{% endcapture %}
                {% if eventTime > nowunix %}
                <div class="event event-sidebar" data-eventDate='{{event.eventDate}}'>
                    <a href="{{ event.url | prepend: site.baseurl }}"><h4>{{ event.title }}</h4></a>
                </div>
                {% endif %}
                {% endfor %}
                
                <p class="no-event-message" style="display: none">No upcoming events</p>
                <div class="spacing"></div>
                
                <h4>Fixtures</h4>
                <div class="hline"></div>
                <br />
                {% include fixtures.html %}

        </div>
    </div><! --/row -->
</div><! --/container -->