<div id="footerwrap">
    <div class="container">
        <div class="row">
             <div class="col-lg-4">
                <h4>Our Training Ground</h4>
                <div class="hline-w"></div>
                <p>
                    {% for line in site.address.first.lines %}
                        {{ line }} <br>
                    {% endfor %}
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Training Time</h4>
                <div class="hline-w"></div>
                <p>Juniors: Wednesday: 6:30pm - 7:30pm</p>
  				<p>Seniors: Wednesday 6:30pm - 9:00pm</p>
            </div>
            <div class="col-lg-4">
                <h4>Social Links</h4>
                <div class="hline-w"></div>
                <p>
                    {% for network in site.social %}
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.cssClass }}"></i></a>
                    {% endfor %}
                </p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->
